.btn{
    position: relative;
    color: $mainBlack;
    font-weight: 600;
    border: 1px solid #1c1c1c;
    padding: 13px 50px;

    span{
        position: absolute;
        border: 1px solid #1c1c1c;
        top: -6px;
        width: 145px;
        height: 55px;
        left: 5px;
    }
}