.btn{
    position: relative;
    color: $mainBlack;
    font-weight: 600;
    border: 1px solid #1c1c1c;
    padding: 10px 25px;
    
    @include atSmall{
        padding: 13px 50px;
    }

    span{
        position: absolute;
        border: 1px solid #1c1c1c;
        top: -4px;
        left: 3px;
        width: 105px;
        height: 45px;
        
        @include atSmall{
            top: -6px;
            left: 5px;
            width: 145px;
            height: 55px;

        }
    }

    &__service{
        display: none;

        @include atSmall{
            display: block;
        }
        
        @include atSmall{
            position: absolute;
            bottom: -70px;
            bottom: 0;
            background: #ffffff;
        }

        &--left{
            @include atSmall{
                left: 0;
                transform: translate(-50%,50%);
            }
        }

        &--right{
            @include atSmall{
                right: 0;
                transform: translate(50%,50%);
            }
        }
    }

    &__icon{
        &-pagination{
            border: 1px solid $mainBlack;
            width: 30px;
            height: 30px;
        }
    }
}