.btn{
    position: relative;
    color: $mainBlack;
    font-weight: 600;
    border: 1px solid $mainBlack;
    padding: 0.625rem 1.5625rem;
    cursor: pointer;
    transition: all .3s ease;

    &:hover{
        background: $mainBlack;
        color: #ffffff;
    }
    
    @include atSmall{
        padding: 0.8125rem 3.125rem;
    }

    span{
        position: absolute;
        border: 1px solid $mainBlack;
        top: -0.25rem;
        left: 0.1875rem;
        width: 6.5625rem;
        height: 2.8125rem;
        
        @include atSmall{
            top: -6px;
            left: 5px;
            width: 145px;
            height: 55px;

        }
    }

    &__service{
        display: none;

        @include atSmall{
            display: block;
        }
        
        @include atSmall{
            position: absolute;
            bottom: -4.375rem;
            bottom: 0;
            background: #ffffff;
        }

        &--left{
            @include atSmall{
                left: 0;
                transform: translate(-50%,50%);
            }
        }

        &--right{
            @include atSmall{
                right: 0;
                transform: translate(50%,50%);
            }
        }
    }

    &__icon{
        &-pagination{
            border: 1px solid $mainBlack;
            width: 1.875rem;
            height: 1.875rem;
        }
    }

    &__up{
        position: fixed;
        font-size: 1.875rem;
        color: $mainBlack;
        background: #ffffff;
        border-radius: 50%;
        bottom: 2.5rem;
        right: 2.5rem;
        z-index: 1000;
    }
}