.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    width: 80%;

    @include atSmall{ width: 90% !important; }
    @include atMedium{ width: 720px !important; }
    @include atLarge{ width: 970px !important; }
    @include atExtraLarge{ width: 1170px !important; }

}