.w-100{ width: 100% }
.w-66{ width: 66% }
.w-50{ width: 50% }
.w-33{ width: 33% }
.w-25{ width: 25% }
.w-20{ width: 20% }

/* MARGIN-TOP */
.mt-5{ margin-top: 3.125rem; }
.mt-4{ margin-top: 2.5rem; }
.mt-3{ margin-top: 1.875rem; }
.mt-2{ margin-top: 1.25rem; }
.mt-1{ margin-top: 0.625rem; }

/* MARGIN-BOTTOM */
.mb-5{ margin-bottom: 3.125rem; }
.mb-4{ margin-bottom: 2.5rem; }
.mb-3{ margin-bottom: 1.875rem; }
.mb-2{ margin-bottom: 1.25rem; }
.mb-1{ margin-bottom: 0.625rem; }

