.table{
    width: 100%;

    &__section{
        display: inherit;
    }

    &__th{
        width: 18.75%;
        padding-top: 7px;
        padding-bottom: 7px;

        &--main{
            width: 25%;
        }
    }

    &__td{
        width: 18.75%;
        height: 50px;
        padding-top: 12px;
        padding-bottom: 12px;
        font-weight: 400;

        &--main{
            width: 25%;
        }
    }

    &__icon-check{
        color: #26de81;
        font-size: 18px;
    }
}