<footer class="footer">
    <section class="contact">
        <div class="contact__image">
            <picture>
                <source srcset="assets/img/footer/greet-hq.jpg" media="(min-width: 992px)">
                <source srcset="assets/img/footer/greet-mq.jpg" media="(min-width: 768px)">
                <img data-srcset="assets/img/footer/greet-lq.jpg" alt="" class="image lazyload">
            </picture>
        </div>
        <div class="contact__form flex-center">
            <div class="contact__form-container">
                <h2 class="text--s-black mb-1">Contacto</h2>
                <p class="text--s-black mb-3">
                    Cuéntanos tus posibilidades para ofrecerte 
                    el mejor servicio
                </p>
                <input id="form-name" type="text" class="form__input" placeholder="Nombre" required>
                <input id="form-email" type="email" class="form__input" placeholder="Email" required>
                <textarea id="form-message" name="" class="form__input form__input--textarea" required>Mensaje</textarea>
                <a id="form-send" class="btn">
                    ENVIAR
                </a>
                <p id="form-notification" class="mt-3"></p>
            </div>
        </div>
    </section>
    <section class="social flex-center">
        <a href="" class="social__icon social__icon--facebook flex-center fab fa-facebook-f"></a>
        <a href="" class="social__icon social__icon--twitter flex-center fab fa-twitter"></a>
        <a href="" class="social__icon social__icon--instagram flex-center fab fa-instagram"></a>
        <a href="" class="social__icon social__icon--youtube flex-center fab fa-youtube"></a>
    </section>
</footer>
<script src="assets/js/App-03c91ab3d1.js"></script>
</body>
</body>
</html>