<footer class="footer">
    <section class="contact">
        <div class="contact__image">
            <picture>
                <source srcset="assets/img/footer/greet-hq.jpg" media="(min-width: 992px)">
                <source srcset="assets/img/footer/greet-mq.jpg" media="(min-width: 768px)">
                <img data-srcset="assets/img/footer/greet-lq.jpg" alt="" class="image lazyload">
            </picture>
        </div>
        <div class="contact__form flex-center">
            <div class="contact__form-container">
                <h2 class="text--s-black mb-1">Contacto</h2>
                <p class="text--s-black mb-3">
                    Cuéntanos tus posibilidades para ofrecerte 
                    el mejor servicio
                </p>
                <input type="text" class="form__input" placeholder="Nombre">
                <input type="email" class="form__input" placeholder="Email">
                <textarea name="" class="form__input form__input--textarea">Mensaje</textarea>
                <a href="" class="btn">
                    ENVIAR
                </a>
            </div>
        </div>
    </section>
    <section class="social flex-center">
        <a href="" class="social__icon social__icon--facebook flex-center fab fa-facebook-f"></a>
        <a href="" class="social__icon social__icon--twitter flex-center fab fa-twitter"></a>
        <a href="" class="social__icon social__icon--instagram flex-center fab fa-instagram"></a>
        <a href="" class="social__icon social__icon--youtube flex-center fab fa-youtube"></a>
    </section>
</footer>
<script src="assets/js/App-312e61f5bc.js"></script>
</body>
</html>