.services{
    text-align: center;
    padding-top: 9.375rem;
    margin-bottom: 0;

    @include atSmall{
        margin-bottom: 6.9375rem;
    }

    &__item{
        position: relative;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 4.1875rem;
        width: 100%;

        @include atSmall{
            flex-wrap: nowrap;
        }

        &-image{
            width: 100%;
            height: 35vh;
            order: -1;

            @include atSmall{
                position: relative;
                width: 13.75rem;
                height: 28.125rem;
                order: 1;
                z-index: 300;
            }

            @include atLarge{
                width: 18.75rem;
                height: 37.25rem;
            }
            
            @include atExtraLarge{
                width: 22.8125rem;
            }

            &--hide-at-small{
                display: none;
                
                @include atSmall{
                    display: block;
                }
                
            }
            
        }

        &-info{
            width: 100%;
            height: 31.8125rem;
            background: $flatBlue;
            height: 65vh;
            order: -1;

            @include atSmall{
                position: absolute;
                top: 2.6875rem;
                left: 50%;
                height: 23.75rem;
                transform: translateX(-50%);
                order: 1;
            }

            @include atLarge{
                height: 31.8125rem;
            }
        }

        &-text{
            width: 80%;

            @include atSmall{
                width: 12.5rem;
            }

            @include atLarge{
                width: 22.125rem;
            }
        }

        &-title{
            margin-top: 1.25rem;
            margin-bottom: 2rem;

            @include atSmall{
                margin-bottom: 1.25rem;
            }
    
            @include atLarge{
                margin-bottom: 3.125rem;
            }
        }

        &--blue{ background: $tinyBasic; }
        &--yellow{ background: $tinyPremium; }
        &--red{ background: $tinySesion; }
        &--purple{ background: $tinyUltimate; }
    }

    &__buttons{
        display: flex;
        justify-content: space-between;
        padding-top: 2.5rem;

        @include atSmall{
            display: none;
        }
    }
}